*.dSYM
*.out
*.exe
*.class
*.jar
*.dll
*.dylib
*.so
main
.vscode
*.sln
.vs
.idea
CMakeLists.txt
*.
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-46e66554c2ebbed0b01f.json
/cmake-build-debug/CMakeFiles/Programming_Fundamentals.dir/labs/1.6/ceasar.cpp.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ba1d2f91a8ddd0637a6f.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a8d88f758be44fd502ad.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-09-20T10-58-41-0677.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/Programming_Fundamentals.dir/labs/1.4/main.cpp.obj
/cmake-build-debug/CMakeFiles/Programming_Fundamentals.dir/labs/1.5/main.cpp.obj
/cmake-build-debug/CMakeFiles/Programming_Fundamentals.dir/practicals/1.5/main.cpp.obj
/cmake-build-debug/CMakeFiles/Programming_Fundamentals.dir/practicals/1.6/main.cpp.obj
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-Programming_Fundamentals-Debug-5e920f62ba5a4a41ee6a.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-f397d5dfd6f01732d294.json
